<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="sidebar.css">
    <title>Insert new user</title>
    <style>
        div.main2 {
            display: none;
        }
    </style>

</head>

<body>

    <div class="main" ng-app="myApp" ng-controller="createLogin">

        <h1>Create new login</h1>

        <form ng-submit="submit()" name="userForm">
            <p>Username:
                <input type="text" ng-model="username" name="username" /></p>
            <p> Password:
                <input type="password" ng-model="password" name="password" /></p>
            <input type="checkbox" id="sendMail" ng-model="sendMail" name="sendMail" value="Yes" ng-style="myStyle7">
            <label for="sendMail"> Send mail to user</label><br>
            <input type="submit" id="submit" value="Create" ng-style="Submit" />


        </form>

    </div>

</body>

</html>